@import '@/styles/variables.scss';

.heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    .heading__image {
        // width: 80%;
        position: relative;
        border-radius: 50%;
    }

    .heading__info {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 8px;

        .heading__title {
            font-size: $fsize01;
            font-weight: 500;
            color: $white;
        }

        .heading__subtitle {
            font-size: $fsize02;
            color: $lightGray;
        }
    }
}