@import '@/styles/variables.scss';

.card {
    display: grid;
    grid-gap: clamp(4px, calc(-5.09px + 2.42vw), 24px);
    grid-template-columns: repeat(4, 1fr);
    width: 100%;

    .card__platform {
        grid-column: span 1/span 1;
        font-size: $fsize02;
        color: $lightGray;
        line-height: 1.6;
    }

    .card__info {
        grid-column: span 3/span 3;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 8px;
    }
}